[run]
source = core, prei
omit =
    */migrations/*
    */tests/*
    */tests_bdd/*
    core/management/commands/fetch_listings.py
    core/management/commands/populate_growth_areas.py
    manage.py
    investor_app/settings.py
    investor_app/settings_test.py
    conftest.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
fail_under = 70
